@import 'tailwindcss';

/* 
** Import HEROUI
*/
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

/*
** Import customize theme
*/
@import './css/theme.css';

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Inter', Helvetica, sans-serif;
}

@utility container {
    max-width: 1440px;
    padding-inline: 20px;
    margin-inline: auto;

    @variant sm {
        max-width: 480px;
        padding-inline: 20px;
    }

    @variant md {
        max-width: 768px;
        padding-inline: 20px;
    }

    @variant lg {
        max-width: 976px;
        padding-inline: 20px;
    }

    @variant xl {
        max-width: 1440px;
        padding-inline: 20px;
    }
}
